### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [45]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
myfile = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
myfile_df = pd.read_csv(myfile)
pd.options.display.float_format = '${:,.2f}'.format

In [46]:
myfile_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44

In [3]:
myfile_df.describe()

       Purchase ID     Age  Item ID   Price
count      $780.00 $780.00  $780.00 $780.00
mean       $389.50  $22.71   $91.76   $3.05
std        $225.31   $6.66   $52.70   $1.17
min          $0.00   $7.00    $0.00   $1.00
25%        $194.75  $20.00   $47.75   $1.98
50%        $389.50  $22.00   $92.00   $3.15
75%        $584.25  $25.00  $138.00   $4.08
max        $779.00  $45.00  $183.00   $4.99

## Player Count

* Display the total number of players

In [4]:
total_players = myfile_df["SN"].count()
total_players

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [47]:
# Returns the value counts of each unique value in the purchase_category column
myfile_df["Item Name"].value_counts()

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Persuasion                                       9
Nirvana                                          9
Extraction, Quickblade Of Trembling Hands        9
                                                ..
Alpha, Reach of Ending Hope                      1
Celeste                                          1
Exiled Mithril Longsword                         1
Gladiator's Glaive                               1
The Decapitator                                  1
Name: Item Name, Length: 179, dtype: int64

In [49]:
unique_items = myfile_df["Item Name"].value_counts()
unique_items.sort_values()
# unique_items

The Decapitator                                  1
Ghost Reaver, Longsword of Magic                 1
Endbringer                                       1
Undead Crusader                                  1
Betrayer                                         1
                                                ..
Extraction, Quickblade Of Trembling Hands        9
Nirvana                                          9
Persuasion                                       9
Oathbreaker, Last Hope of the Breaking Storm    12
Final Critic                                    13
Name: Item Name, Length: 179, dtype: int64

In [6]:
# Group vehicles_df by the "Vehicle Type" column
grouped_items_df = myfile_df.groupby("Item Name")

# Note that the "GroupBy" object by itself is not particularly useful
print(grouped_items_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002230AA15BB0>

In [7]:
grouped_items_df.count()

                                 Purchase ID  SN  Age  Gender  Item ID  Price
Item Name
Abyssal Shard                              5   5    5       5        5      5
Aetherius, Boon of the Blessed             5   5    5       5        5      5
Agatha                                     6   6    6       6        6      6
Alpha                                      3   3    3       3        3      3
Alpha, Oath of Zeal                        3   3    3       3        3      3
...                                      ...  ..  ...     ...      ...    ...
Wolf                                       8   8    8       8        8      8
Wolf, Promise of the Moonwalker            6   6    6       6        6      6
Worldbreaker                               4   4    4       4        4      4
Yearning Crusher                           3   3    3       3        3      3
Yearning Mageblade                         5   5    5       5        5      5

[179 rows x 6 columns]

In [8]:
grouped_items_df["Price", "Age"].mean()

<ipython-input-8-7a524e369331>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped_items_df["Price", "Age"].mean()

                                 Price    Age
Item Name
Abyssal Shard                    $2.67 $22.20
Aetherius, Boon of the Blessed   $3.39 $25.20
Agatha                           $3.08 $20.67
Alpha                            $2.07 $21.67
Alpha, Oath of Zeal              $4.05 $22.67
...                                ...    ...
Wolf                             $3.54 $18.12
Wolf, Promise of the Moonwalker  $4.48 $21.00
Worldbreaker                     $2.60 $22.25
Yearning Crusher                 $4.18 $21.00
Yearning Mageblade               $3.82 $21.80

[179 rows x 2 columns]

In [9]:
# To sort from highest to lowest, ascending=False must be passed in
sorted_list = unique_items.sort_values(axis=0, ascending=False)
sorted_list

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Persuasion                                       9
Nirvana                                          9
Extraction, Quickblade Of Trembling Hands        9
                                                ..
Betrayer                                         1
Undead Crusader                                  1
Endbringer                                       1
Ghost Reaver, Longsword of Magic                 1
The Decapitator                                  1
Name: Item Name, Length: 179, dtype: int64

In [18]:
# Average price
avg_price = myfile_df["Price"].mean()
avg_price

3.050987179487176

In [19]:
avg_age = myfile_df["Age"].mean()
avg_age

22.714102564102564

In [20]:
summary_table = {'Item Name': [1, 2], 'Item Price': [3, 4]}
summary_table = pd.DataFrame(data=summary_table)
summary_table

   Item Name  Item Price
0          1           3
1          2           4

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [34]:
percent_male = myfile_df["Gender"] == "Male"
percent_male.sum()

# named_billy = movies_df["first_name"] == "Billy"
# named_billy.head()

652

In [35]:
percent_female = myfile_df["Gender"] == "Female"
percent_female.sum()

113

In [41]:
percent_other = myfile_df.loc[(myfile_df["Gender"] != "Male") & (myfile_df["Gender"] != "Female")]
percent_other.sum()

# only_billy_and_peter = movies_df.loc[(movies_df["first_name"] == "Billy") & (movies_df["first_name"] == "Clark")]
# print(only_billy_and_peter)

Purchase ID                                                 5019
SN             Chanosian48Siarithria38Haerithp41Sundim98Jiski...
Age                                                          363
Gender         Other / Non-DisclosedOther / Non-DisclosedOthe...
Item ID                                                     1212
Item Name      Ghastly Adamantite ProtectorWarped FetishAzure...
Price                                                     $50.19
dtype: object

In [44]:
grouped_gender_df = myfile_df.groupby("Gender")
grouped_gender_df.count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [ ]:
grouped_pokemon_df = .groupby(['Type1']).mean()
grouped_pokemon_df

In [ ]:
grouped_my_file_df["Gender"].mean()


* The below each broken by gender

* Purchase Count

* Average Purchase Price

* Total Purchase Value

* Average Purchase Total per Person by Gender

In [ ]:
## Purchasing Analysis (Gender)
# The following will select all rows for columns `first_name` and `Phone Number`
movies_df.loc[:, ["first_name", "Phone Number"]].head()

In [ ]:
# Count of purchases by gender
# gender_counts = myfile_df["Gender"].value_counts()
# state_counts.head()

# Using GroupBy in order to separate the data into fields according to "gender" values
grouped_purchase_count_df = myfile.groupby(['Gender']).value_counts()
purchase_countgrouped_purchase_count_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame