### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
myfile = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
myfile_df = pd.read_csv(myfile)
pd.options.display.float_format = '${:,.2f}'.format

In [2]:
myfile_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44

In [3]:
myfile_df.describe()

       Purchase ID     Age  Item ID   Price
count      $780.00 $780.00  $780.00 $780.00
mean       $389.50  $22.71   $91.76   $3.05
std        $225.31   $6.66   $52.70   $1.17
min          $0.00   $7.00    $0.00   $1.00
25%        $194.75  $20.00   $47.75   $1.98
50%        $389.50  $22.00   $92.00   $3.15
75%        $584.25  $25.00  $138.00   $4.08
max        $779.00  $45.00  $183.00   $4.99

## Player Count

* Display the total number of players

In [4]:
total_players = myfile_df["SN"].count()
total_players

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
unique_items = myfile_df["Item Name"].value_counts()
# unique_items.sort_values()
unique_items

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Fiery Glass Crusader                             9
Nirvana                                          9
Extraction, Quickblade Of Trembling Hands        9
                                                ..
Celeste                                          1
Riddle, Tribute of Ended Dreams                  1
Gladiator's Glaive                               1
Alpha, Reach of Ending Hope                      1
The Decapitator                                  1
Name: Item Name, Length: 179, dtype: int64

In [11]:
# To sort from highest to lowest, ascending=False must be passed in
sorted_list = unique_items.sort_values(axis=0, ascending=True)
sorted_list

The Decapitator                                  1
Betrayer                                         1
Undead Crusader                                  1
Exiled Mithril Longsword                         1
Endbringer                                       1
                                                ..
Extraction, Quickblade Of Trembling Hands        9
Nirvana                                          9
Fiery Glass Crusader                             9
Oathbreaker, Last Hope of the Breaking Storm    12
Final Critic                                    13
Name: Item Name, Length: 179, dtype: int64

In [20]:
# Count of purchases by gender
gender_counts = myfile_df["Gender"].value_counts()
gender_counts

# Using GroupBy in order to separate the data into fields according to "gender" values
# grouped_purchase_count = myfile.groupby(['Gender']).value_counts()
# purchase_countgrouped_purchase_count_df

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [36]:
# Running a data function on a "GroupBy" object returns a DataFrame (if 2-D), or a Series (if 1-D). 
# Thus, you can create new dataframes based on the results of these data functions
# min_power_tq = grouped_vehicles_df[["Horsepower", "Torque (lb-ft)"]].min()
# min_power_tq


# You can group by multiple columns.This is useful if you're dealing with 
# demographic data and want to group by city AND state. 
# You can do this by passing in a list that contains the columns you want to group by.
# Group vehicles_df by both Manufacturer AND Vehicle Type
summary_df = myfile_df.groupby(["Gender", "Item Name"])

# Get averages
summary_df.count()

                                                            Purchase ID  SN  \
Gender                Item Name
Female                Aetherius, Boon of the Blessed                  1   1
                      Alpha                                           1   1
                      Alpha, Oath of Zeal                             1   1
                      Arcane Gem                                      1   1
                      Betrayal, Whisper of Grieving Widows            1   1
...                                                                 ...  ..
Other / Non-Disclosed Retribution Axe                                 1   1
                      Splitter, Foe Of Subtlety                       1   1
                      Thunderfury Scimitar                            1   1
                      Warped Fetish                                   1   1
                      Warped Iron Scimitar                            2   2

                                                            Age  Item ID  \
Gender                Item Name
Female                Aetherius, Boon of the Blessed          1        1
                      Alpha                                   1        1
                      Alpha, Oath of Zeal                     1        1
                      Arcane Gem                              1        1
                      Betrayal, Whisper of Grieving Widows    1        1
...                                                         ...      ...
Other / Non-Disclosed Retribution Axe                         1        1
                      Splitter, Foe Of Subtlety               1        1
                      Thunderfury Scimitar                    1        1
                      Warped Fetish                           1        1
                      Warped Iron Scimitar                    2        2

                                                            Price
Gender                Item Name
Female                Aetherius, Boon of the Blessed            1
                      Alpha                                     1
                      Alpha, Oath of Zeal                       1
                      Arcane Gem                                1
                      Betrayal, Whisper of Grieving Widows      1
...                                                           ...
Other / Non-Disclosed Retribution Axe                           1
                      Splitter, Foe Of Subtlety                 1
                      Thunderfury Scimitar                      1
                      Warped Fetish                             1
                      Warped Iron Scimitar                      2

[281 rows x 5 columns]

In [16]:
# Group items by the "Item Name" column
grouped_items_df = myfile_df.groupby("Item Name")

# Note that the "GroupBy" object by itself is not particularly useful
grouped_items_df

In [13]:
# Group items by the "Gender" column
grouped_gender_df = myfile_df.groupby("Gender")

# Note that the "GroupBy" object by itself is not particularly useful
print(grouped_items_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001E1AAD0FBB0>

In [24]:
# Create a summary DataFram to hold the results
purchase_df = pd.DataFrame(my_dict_2)

NameError: name 'my_dict_2' is not defined

In [ ]:
# Average price
avg_price = myfile_df["Price"].mean()
avg_price
round(avg_price,0)

In [ ]:
avg_age = myfile_df["Age"].mean()
round(avg_age, 0)

In [ ]:
summary_table = {'Item Name': [1, 2], 'Item Price': [3, 4]}
summary_table = pd.DataFrame(data=summary_table)
summary_table

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [ ]:
count_of_males = myfile_df["Gender"] == "Male"
count_of_males.sum()

In [ ]:
m_percentage = count_of_males["Gender"] / total_players
m_percentage

# # Calculations can also be performed on Series and added into DataFrames as new columns
# thousands_of_dollars = myfile_df[(count_of_males)/(total_players)]
# myfile_df["Thousands of Dollars"] = thousands_of_dollars

# myfile_df.head()

In [ ]:
count_of_females = myfile_df["Gender"] == "Female"
count_of_females.sum()

In [ ]:
count_of_other = myfile_df["Gender"] == "Other / Non-Disclosed" 
count_of_other.sum()

In [ ]:
myfile_df[["Item Name", "Price", "Gender"]].head()

In [ ]:
new_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],
                       {"Percent of Total: ["m_percentage", "f_percentage", "Other / Non-Disclosed"]
                      })
new_df

In [ ]:
grouped_gender = myfile_df.groupby("Gender")
grouped_gender.count()

In [ ]:
grouped_gender_df["Age"].mean()


* The below each broken by gender

* Purchase Count

* Average Purchase Price

* Total Purchase Value

* Average Purchase Total per Person by Gender

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame