### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
myfile = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
myfile_df = pd.read_csv(myfile)
pd.options.display.float_format = '${:,.2f}'.format

In [2]:
myfile_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,467,Adairialis76,16,Male,123,Twilight's Carver,$2.28
1,142,Adastirin33,35,Female,175,Woeful Adamantite Claymore,$4.48
2,388,Aeda94,17,Male,128,"Blazeguard, Reach of Eternity",$4.91
3,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",$4.32
4,630,Aelaria33,23,Male,171,Scalpel,$1.79
...,...,...,...,...,...,...,...
775,54,Zhisrisu83,10,Male,25,Hero Cane,$4.35
776,141,Zhisrisu83,10,Male,60,Wolf,$3.54
777,442,Zontibe81,21,Male,84,Arcane Gem,$3.79
778,17,Zontibe81,21,Male,161,Devine,$1.76
779,560,Zontibe81,21,Male,2,Verdict,$2.48

## Player Count

* Display the total number of players

In [3]:
total_players = myfile_df["SN"].nunique()
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items = myfile_df["Item Name"].nunique()
unique_items

179

In [5]:
purchase_count = myfile_df["Item Name"].count()
purchase_count

780

In [6]:
avg_price = myfile_df["Price"].mean()
round(avg_price, 2)

3.05

In [7]:
total_revenue = round(myfile_df["Price"].sum(), 2)
total_revenue

2379.77

In [8]:
# Create a summary data frame to hold the results
summary_table_df = pd.DataFrame({'Number of Unique Items': [unique_items], 
                                 'Average Price': (avg_price),
                                 'Number of Purchases': (purchase_count),
                                 'Total Revenue': (total_revenue)})
summary_table_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780      $2,379.77

In [9]:
grouped_gender_df = myfile_df.groupby('Gender')

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
new_df = myfile_df.drop_duplicates(subset="SN")
new_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,467,Adairialis76,16,Male,123,Twilight's Carver,$2.28
1,142,Adastirin33,35,Female,175,Woeful Adamantite Claymore,$4.48
2,388,Aeda94,17,Male,128,"Blazeguard, Reach of Eternity",$4.91
3,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",$4.32
4,630,Aelaria33,23,Male,171,Scalpel,$1.79
...,...,...,...,...,...,...,...
769,548,Yathecal82,20,Female,75,Brutality Ivory Warmace,$2.42
772,93,Yathedeu43,22,Male,88,"Emberling, Defender of Delusions",$3.75
774,572,Yoishirrala98,17,Female,145,Fiery Glass Crusader,$4.58
775,54,Zhisrisu83,10,Male,25,Hero Cane,$4.35
777,442,Zontibe81,21,Male,84,Arcane Gem,$3.79

In [11]:
count_of_males = (new_df["Gender"] == "Male").sum()
count_of_males

484

In [12]:
count_of_females = (new_df["Gender"] == "Female").sum()
count_of_females

81

In [13]:
count_of_other = (new_df["Gender"] == "Other / Non-Disclosed").sum()
count_of_other

11

In [60]:
male_percent = count_of_males / total_players *100
male_percent = "{:.2f}%".format(male_percent)
male_percent

'84.03%'

In [59]:
female_percent = count_of_females / total_players *100
female_percent ="{:.2f}%".format(female_percent)
female_percent

'14.06%'

In [57]:
other_percent = count_of_other / total_players *100
other_percent = "{:.2f}%".format(other_percent)
other_percent

'1.91%'

In [82]:
gender_table_df = pd.DataFrame({'Gender': ['Male', 'Female', 'Other / Non-Disclosed'], 
                                'Total Count': [count_of_males, count_of_females, count_of_other],
                                'Percentage of Players': [male_percent, female_percent, other_percent]
    
})
gender_table_df

                  Gender  Total Count Percentage of Players
0                   Male          484                84.03%
1                 Female           81                14.06%
2  Other / Non-Disclosed           11                 1.91%

In [18]:
# Group items by the "Gender" column
grouped_gender_df = myfile_df.groupby("Gender")
grouped_gender_df.count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [20]:
# This df is based off the reduced version which drops duplicate 'SN' - strickly used to count distinct gender values
grouped_genders_df = new_df.groupby("Gender")
grouped_genders_df.count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                          81   81   81       81         81     81
Male                           484  484  484      484        484    484
Other / Non-Disclosed           11   11   11       11         11     11

In [21]:
grouped_purchase_count = grouped_gender_df["Item Name"].count()
grouped_purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item Name, dtype: int64

In [22]:
grouped_avg_price = grouped_gender_df["Price"].mean()
grouped_avg_price

Gender
Female                  $3.20
Male                    $3.02
Other / Non-Disclosed   $3.35
Name: Price, dtype: float64

In [23]:
grouped_avg_total = grouped_gender_df["Price"].sum()
grouped_avg_total

Gender
Female                    $361.94
Male                    $1,967.64
Other / Non-Disclosed      $50.19
Name: Price, dtype: float64

In [24]:
grouped_purchase_value = grouped_gender_df["Price"].sum()
grouped_purchase_value

Gender
Female                    $361.94
Male                    $1,967.64
Other / Non-Disclosed      $50.19
Name: Price, dtype: float64

In [25]:
grouped_price_per_person = grouped_gender_df["Price"].sum()
grouped_price_per_person

Gender
Female                    $361.94
Male                    $1,967.64
Other / Non-Disclosed      $50.19
Name: Price, dtype: float64

In [84]:
female_players_df = myfile_df.groupby('Gender').get_group('Female')
female_players_df.mean()

Purchase ID   $379.38
Age            $21.35
Item ID        $85.48
Price           $3.20
dtype: float64

In [85]:
female_avg_price = female_players_df["Price"].mean(axis=0, skipna=None, level=None, numeric_only=None)
female_avg_price

3.203008849557522

In [29]:
male_players_df = myfile_df.groupby('Gender').get_group('Male')
male_players_df.nunique()

Purchase ID    652
SN             484
Age             39
Gender           1
Item ID        178
Item Name      178
Price          144
dtype: int64

In [30]:
other_players_df = myfile_df.groupby('Gender').get_group('Other / Non-Disclosed')
other_players_df.nunique()

Purchase ID    15
SN             11
Age             8
Gender          1
Item ID        13
Item Name      13
Price          12
dtype: int64

In [31]:
other_players_df['Price'].sum()

50.190000000000005

In [92]:
# totals_per_person_df = myfile_df.groupby(["SN", "Gender", "Price"])
# totals_per_person_df.sum()

In [93]:
# myfile_df.groupby('SN')['Price'].agg(['count', 'sum'])


* The below each broken by gender

* Purchase Count

* Average Purchase Price

* Total Purchase Value

* Average Purchase Total per Person by Gender

In [33]:
# Create a summary data frame to hold the results by gender
gender_summary_df = pd.DataFrame({'Purchase Count': (grouped_purchase_count),
                                  'Average Purchase Price': round((grouped_avg_price),2).astype(float).map("${:,.2f}".format),
                                  'Total Purchase Value': (grouped_purchase_value).astype(float).map("${:,.2f}".format),
                                  'Avg Purchase Total per Person': (grouped_price_per_person)
                                })
gender_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Gender,,,,
Female,113,$3.20,$361.94,$361.94
Male,652,$3.02,"$1,967.64","$1,967.64"
Other / Non-Disclosed,15,$3.35,$50.19,$50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [37]:
# Figure out the min and max age values so we know what the edges are
print(myfile_df["Age"].max())
print(myfile_df["Age"].min())

45
7

In [45]:
# Create bins for Ages
bins = [7, 10, 15, 20, 25, 30, 35, 40, 45]

group_labels = ["<10", "11 to 14", "15 to 19", "20 to 24", "25 to 29", "30 to 34", "35 to 39", "40+"]

In [49]:
# Categorize the existing players by adding a new column to the data frame
new_df["Age Range"] = pd.cut(new_df["Age"], bins, right=False, labels=group_labels, include_lowest=True)
new_df.head(30)

<ipython-input-49-4a513746f2b2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["Age Range"] = pd.cut(new_df["Age"], bins, right=False, labels=group_labels, include_lowest=True)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,467,Adairialis76,16,Male,123,Twilight's Carver,$2.28,15 to 19
1,142,Adastirin33,35,Female,175,Woeful Adamantite Claymore,$4.48,35 to 39
2,388,Aeda94,17,Male,128,"Blazeguard, Reach of Eternity",$4.91,15 to 19
3,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",$4.32,20 to 24
4,630,Aelaria33,23,Male,171,Scalpel,$1.79,20 to 24
5,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",$4.14,20 to 24
7,705,Aelidru27,22,Male,183,Dragon's Greatsword,$1.09,20 to 24
8,87,Aelin32,20,Male,151,Severance,$3.40,20 to 24
11,428,Aelly27,24,Male,14,Possessed Core,$2.61,20 to 24
13,286,Aellynun67,25,Male,153,Mercenary Sabre,$3.74,25 to 29
14,746,Aellyria80,23,Male,159,"Oathbreaker, Spellblade of Trials",$3.08,20 to 24
15,431,Aelollo59,33,Male,172,Blade of the Grave,$3.14,30 to 34
17,183,Aenarap34,21,Male,15,Soul Infused Crystal,$2.96,20 to 24
18,263,Aeral43,24,Male,78,"Glimmer, Ender of the Moon",$4.40,20 to 24
19,674,Aeral68,43,Male,77,"Piety, Guardian of Riddles",$4.00,40+
20,167,Aeral97,23,Male,157,"Spada, Etcher of Hatred",$4.80,20 to 24
21,32,Aeralria27,10,Male,133,Faith's Scimitar,$4.09,11 to 14
22,583,Aeralstical35,20,Male,49,"The Oculus, Token of Lost Worlds",$2.96,20 to 24
23,303,Aeri84,24,Male,71,Demise,$1.61,20 to 24
24,381,Aerillorin70,16,Male,83,Lifebender,$3.33,15 to 19
25,578,Aerithllora36,29,Female,153,Mercenary Sabre,$3.74,25 to 29
27,324,Aerithnucal56,15,Male,154,Feral Katana,$4.40,15 to 19
28,517,Aerithnuphos61,39,Male,128,"Blazeguard, Reach of Eternity",$4.91,35 to 39
29,40,Aerithriaphos45,20,Male,143,Frenzied Scimitar,$1.56,20 to 24
30,236,Aerithriaphos46,16,Male,107,"Splitter, Foe Of Subtlety",$2.18,15 to 19
31,541,Aesri53,31,Male,161,Devine,$1.76,30 to 34
32,124,Aesty53,21,Male,150,Deathraze,$2.85,20 to 24
34,416,Aestysu37,25,Male,13,Serenity,$1.41,25 to 29
36,468,Aesur96,23,Male,30,Stormcaller,$2.21,20 to 24
37,405,Aesurstilis64,25,Male,70,Hope's End,$1.03,25 to 29

In [50]:
# Calculate the numbers and percentages for each age group
bin_counts = new_df["Age Range"].value_counts()
bin_counts

20 to 24    258
15 to 19    107
25 to 29     77
30 to 34     52
35 to 39     31
11 to 14     22
<10          17
40+          11
Name: Age Range, dtype: int64

In [65]:
age_percent = bin_counts / total_players * 100
age_percent

20 to 24   $44.79
15 to 19   $18.58
25 to 29   $13.37
30 to 34    $9.03
35 to 39    $5.38
11 to 14    $3.82
<10         $2.95
40+         $1.91
Name: Age Range, dtype: float64

In [52]:
# Create a summary data frame to hold the results and display it
gender_ranges_df = pd.DataFrame({"Total Count": (bin_counts),
                                 "Percentage of Players": round((age_percent), 2).astype(float).map("{:,.2f}%".format)
                                })
gender_ranges_df

          Total Count Percentage of Players
20 to 24          258                44.79%
15 to 19          107                18.58%
25 to 29           77                13.37%
30 to 34           52                 9.03%
35 to 39           31                 5.38%
11 to 14           22                 3.82%
<10                17                 2.95%
40+                11                 1.91%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [86]:
new_df.mean()

NameError: name 'age_ranges_df' is not defined

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [55]:
grouped_users_df = myfile_df.groupby('SN').agg({'Item Name': ['count'],
                                             'Price': ['mean', 'sum']
                                            })
grouped_users_df.sort_values([('Price', 'sum')], ascending=False)

            Item Name Price
                count  mean    sum
SN
Lisosia93           5 $3.79 $18.96
Idastidru52         4 $3.86 $15.45
Chamjask73          3 $4.61 $13.83
Iral74              4 $3.41 $13.62
Iskadarya95         3 $4.37 $13.10
...               ...   ...    ...
Ililsasya43         1 $1.02  $1.02
Irilis75            1 $1.02  $1.02
Aidai61             1 $1.01  $1.01
Chanirra79          1 $1.01  $1.01
Alo38               1 $1.00  $1.00

[576 rows x 3 columns]

In [87]:
# rename columns
# grouped_users.columns = ['Purchase Count', 'Avg Purchase Price', 'Total Purchase Value']

# reset index to get grouped columns back
# grouped_users = grouped_users.reset_index()

# print(grouped_users)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [67]:
# Retrieve ID, Item Name, Item Price columns
another_df = myfile_df[['Item ID', 'SN', 'Item Name', 'Price']].groupby(['Item ID', 'Item Name'])
another_df.head()

     Item ID            SN                                  Item Name  Price
0        123  Adairialis76                          Twilight's Carver  $2.28
1        175   Adastirin33                 Woeful Adamantite Claymore  $4.48
2        128        Aeda94              Blazeguard, Reach of Eternity  $4.91
3        119        Aela59  Stormbringer, Dark Blade of Ending Misery  $4.32
4        171     Aelaria33                                    Scalpel  $1.79
..       ...           ...                                        ...    ...
771       62    Yathecal82                                Piece Maker  $1.87
772       88    Yathedeu43           Emberling, Defender of Delusions  $3.75
773       55    Yathedeu43                      Vindictive Glass Edge  $2.27
777       84     Zontibe81                                 Arcane Gem  $3.79
778      161     Zontibe81                                     Devine  $1.76

[690 rows x 4 columns]

In [70]:
another_df.count()

                                                      SN  Price
Item ID Item Name
0       Splinter                                       4      4
1       Crucifer                                       4      4
2       Verdict                                        6      6
3       Phantomlight                                   6      6
4       Bloodlord's Fetish                             5      5
...                                                   ..    ...
178     Oathbreaker, Last Hope of the Breaking Storm  12     12
179     Wolf, Promise of the Moonwalker                6      6
181     Reaper's Toll                                  5      5
182     Toothpick                                      3      3
183     Dragon's Greatsword                            3      3

[179 rows x 2 columns]

In [71]:
another_df.mean()

                                                      Price
Item ID Item Name
0       Splinter                                      $1.28
1       Crucifer                                      $2.94
2       Verdict                                       $2.48
3       Phantomlight                                  $2.49
4       Bloodlord's Fetish                            $1.70
...                                                     ...
178     Oathbreaker, Last Hope of the Breaking Storm  $4.23
179     Wolf, Promise of the Moonwalker               $4.48
181     Reaper's Toll                                 $1.66
182     Toothpick                                     $4.03
183     Dragon's Greatsword                           $1.09

[179 rows x 1 columns]

In [74]:
popular_sum_df = another_df.sum()
popular_sum_df

                                                      Price
Item ID Item Name
0       Splinter                                      $5.12
1       Crucifer                                     $11.77
2       Verdict                                      $14.88
3       Phantomlight                                 $14.94
4       Bloodlord's Fetish                            $8.50
...                                                     ...
178     Oathbreaker, Last Hope of the Breaking Storm $50.76
179     Wolf, Promise of the Moonwalker              $26.88
181     Reaper's Toll                                 $8.30
182     Toothpick                                    $12.09
183     Dragon's Greatsword                           $3.27

[179 rows x 1 columns]

In [76]:
most_popular_df = pd.DataFrame({'Total Count': [count_of_males, count_of_females, count_of_other],
                               'Percentage of Players': [female_percent, male_percent, other_percent]
    
})
most_popular_df

                  Gender  Total Count Percentage of Players
0                   Male          484                14.06%
1                 Female           81                84.03%
2  Other / Non-Disclosed           11                 1.91%

In [ ]:
df.sort_values([('Group1', 'C')], ascending=False)

In [ ]:
top_users_group_df = another_df.groupby('SN').agg({'Item Name': ['count'],
                                             'Price': ['sum']
                                            })
top_users_group_df.sort_values(['SN', 'Price'], ascending=False)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [91]:
profitable_counts_df = myfile_df["Item Name"].value_counts()
profitable_counts_df

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Nirvana                                          9
Extraction, Quickblade Of Trembling Hands        9
Fiery Glass Crusader                             9
                                                ..
Exiled Mithril Longsword                         1
Riddle, Tribute of Ended Dreams                  1
Undead Crusader                                  1
The Decapitator                                  1
Celeste                                          1
Name: Item Name, Length: 179, dtype: int64

In [ ]:
df.agg({'ext price': ['sum', 'mean'], 'quantity': ['sum', 'mean'], 'unit price': ['mean']})

In [ ]:
# total_value = myfile_df.sort_values("Price", ascending=False)
# total_value.head()