### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
myfile = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
myfile_df = pd.read_csv(myfile)
pd.options.display.float_format = '${:,.2f}'.format

In [2]:
myfile_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,467,Adairialis76,16,Male,123,Twilight's Carver,$2.28
1,142,Adastirin33,35,Female,175,Woeful Adamantite Claymore,$4.48
2,388,Aeda94,17,Male,128,"Blazeguard, Reach of Eternity",$4.91
3,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",$4.32
4,630,Aelaria33,23,Male,171,Scalpel,$1.79

## Player Count

* Display the total number of players

In [3]:
total_players = myfile_df["SN"].nunique()
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items = myfile_df["Item Name"].nunique()
print(unique_items)

avg_price = myfile_df["Price"].mean()
print(round(avg_price, 2))

purchase_count = myfile_df["Item Name"].count()
print(purchase_count)

total_revenue = round(myfile_df["Price"].sum(), 2)
print(total_revenue)

179
3.05
780
2379.77

In [5]:
# Create a summary data frame to hold the results
summary_table_df = pd.DataFrame({'Number of Unique Items': [unique_items], 
                                 'Average Price': (avg_price),
                                 'Number of Purchases': (purchase_count),
                                 'Total Revenue': (total_revenue)
                                })
summary_table_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780      $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
grouped_gender_df = myfile_df.groupby('Gender')

In [7]:
# Drop duplicate players to count distinct players per gender
new_df = myfile_df.drop_duplicates(subset="SN")
new_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,467,Adairialis76,16,Male,123,Twilight's Carver,$2.28
1,142,Adastirin33,35,Female,175,Woeful Adamantite Claymore,$4.48
2,388,Aeda94,17,Male,128,"Blazeguard, Reach of Eternity",$4.91
3,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",$4.32
4,630,Aelaria33,23,Male,171,Scalpel,$1.79
...,...,...,...,...,...,...,...
769,548,Yathecal82,20,Female,75,Brutality Ivory Warmace,$2.42
772,93,Yathedeu43,22,Male,88,"Emberling, Defender of Delusions",$3.75
774,572,Yoishirrala98,17,Female,145,Fiery Glass Crusader,$4.58
775,54,Zhisrisu83,10,Male,25,Hero Cane,$4.35
777,442,Zontibe81,21,Male,84,Arcane Gem,$3.79

In [8]:
count_of_males = (new_df["Gender"] == "Male").sum()
print(count_of_males)

count_of_females = (new_df["Gender"] == "Female").sum()
print(count_of_females)

count_of_other = (new_df["Gender"] == "Other / Non-Disclosed").sum()
print(count_of_other)

484
81
11

In [9]:
male_percent = count_of_males / total_players *100
male_percent = "{:.2f}%".format(male_percent)
print(male_percent)

female_percent = count_of_females / total_players *100
female_percent ="{:.2f}%".format(female_percent)
print(female_percent)

other_percent = count_of_other / total_players *100
other_percent = "{:.2f}%".format(other_percent)
print(other_percent)

84.03%
14.06%
1.91%

In [10]:
gender_table_df = pd.DataFrame({'Gender': ['Male', 'Female', 'Other / Non-Disclosed'], 
                                'Total Count': [count_of_males, count_of_females, count_of_other],
                                'Percentage of Players': [male_percent, female_percent, other_percent]
    
})
gender_table_df

                  Gender  Total Count Percentage of Players
0                   Male          484                84.03%
1                 Female           81                14.06%
2  Other / Non-Disclosed           11                 1.91%

In [ ]:
# This df is based off the reduced version which drops duplicate 'SN' - strickly used to count distinct gender values
# grouped_genders_df = new_df.groupby("Gender")
# grouped_genders_df.count()

In [11]:
grouped_purchase_count = grouped_gender_df["Item Name"].count()
grouped_purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item Name, dtype: int64

In [12]:
grouped_avg_price = grouped_gender_df["Price"].mean()
grouped_avg_price

Gender
Female                  $3.20
Male                    $3.02
Other / Non-Disclosed   $3.35
Name: Price, dtype: float64

In [13]:
grouped_avg_total = grouped_gender_df["Price"].sum()
grouped_avg_total

Gender
Female                    $361.94
Male                    $1,967.64
Other / Non-Disclosed      $50.19
Name: Price, dtype: float64

In [14]:
grouped_purchase_value = grouped_gender_df["Price"].sum()
grouped_purchase_value

Gender
Female                    $361.94
Male                    $1,967.64
Other / Non-Disclosed      $50.19
Name: Price, dtype: float64

In [15]:
grouped_price_per_person = grouped_gender_df["Price"].sum()
grouped_price_per_person

Gender
Female                    $361.94
Male                    $1,967.64
Other / Non-Disclosed      $50.19
Name: Price, dtype: float64

In [16]:
female_players_df = myfile_df.groupby('Gender').get_group('Female')
female_players_df.mean()

Purchase ID   $379.38
Age            $21.35
Item ID        $85.48
Price           $3.20
dtype: float64

In [17]:
female_avg_price = female_players_df["Price"].mean(axis=0, skipna=None, level=None, numeric_only=None)
female_avg_price

3.203008849557522

In [18]:
male_players_df = myfile_df.groupby('Gender').get_group('Male')
male_players_df.nunique()

Purchase ID    652
SN             484
Age             39
Gender           1
Item ID        178
Item Name      178
Price          144
dtype: int64

In [19]:
other_players_df = myfile_df.groupby('Gender').get_group('Other / Non-Disclosed')
other_players_df.nunique()

Purchase ID    15
SN             11
Age             8
Gender          1
Item ID        13
Item Name      13
Price          12
dtype: int64

In [20]:
other_players_df['Price'].sum()

50.190000000000005

In [ ]:
# totals_per_person_df = myfile_df.groupby(["SN", "Gender", "Price"])
# totals_per_person_df.sum()

In [ ]:
# myfile_df.groupby('SN')['Price'].agg(['count', 'sum'])


* The below each broken by gender

* Purchase Count

* Average Purchase Price

* Total Purchase Value

* Average Purchase Total per Person by Gender

In [21]:
# Create a summary data frame to hold the results by gender
gender_summary_df = pd.DataFrame({'Purchase Count': (grouped_purchase_count),
                                  'Average Purchase Price': round((grouped_avg_price),2).astype(float).map("${:,.2f}".format),
                                  'Total Purchase Value': (grouped_purchase_value).astype(float).map("${:,.2f}".format),
                                  'Avg Purchase Total per Person': (grouped_price_per_person)
                                })
gender_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total per Person
Gender,,,,
Female,113,$3.20,$361.94,$361.94
Male,652,$3.02,"$1,967.64","$1,967.64"
Other / Non-Disclosed,15,$3.35,$50.19,$50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
# Figure out the min and max age values so we know what the edges are
print(myfile_df["Age"].max())
print(myfile_df["Age"].min())

In [22]:
# Create bins for Ages
bins = [7, 10, 15, 20, 25, 30, 35, 40, 45]

group_labels = ["<10", "11 to 14", "15 to 19", "20 to 24", "25 to 29", "30 to 34", "35 to 39", "40+"]

In [23]:
# Categorize the existing players by adding a new column to the data frame
new_df["Age Range"] = pd.cut(new_df["Age"], bins, right=False, labels=group_labels, include_lowest=True)
new_df.head(30)

<ipython-input-23-4a513746f2b2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["Age Range"] = pd.cut(new_df["Age"], bins, right=False, labels=group_labels, include_lowest=True)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,467,Adairialis76,16,Male,123,Twilight's Carver,$2.28,15 to 19
1,142,Adastirin33,35,Female,175,Woeful Adamantite Claymore,$4.48,35 to 39
2,388,Aeda94,17,Male,128,"Blazeguard, Reach of Eternity",$4.91,15 to 19
3,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",$4.32,20 to 24
4,630,Aelaria33,23,Male,171,Scalpel,$1.79,20 to 24
5,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",$4.14,20 to 24
7,705,Aelidru27,22,Male,183,Dragon's Greatsword,$1.09,20 to 24
8,87,Aelin32,20,Male,151,Severance,$3.40,20 to 24
11,428,Aelly27,24,Male,14,Possessed Core,$2.61,20 to 24
13,286,Aellynun67,25,Male,153,Mercenary Sabre,$3.74,25 to 29
14,746,Aellyria80,23,Male,159,"Oathbreaker, Spellblade of Trials",$3.08,20 to 24
15,431,Aelollo59,33,Male,172,Blade of the Grave,$3.14,30 to 34
17,183,Aenarap34,21,Male,15,Soul Infused Crystal,$2.96,20 to 24
18,263,Aeral43,24,Male,78,"Glimmer, Ender of the Moon",$4.40,20 to 24
19,674,Aeral68,43,Male,77,"Piety, Guardian of Riddles",$4.00,40+
20,167,Aeral97,23,Male,157,"Spada, Etcher of Hatred",$4.80,20 to 24
21,32,Aeralria27,10,Male,133,Faith's Scimitar,$4.09,11 to 14
22,583,Aeralstical35,20,Male,49,"The Oculus, Token of Lost Worlds",$2.96,20 to 24
23,303,Aeri84,24,Male,71,Demise,$1.61,20 to 24
24,381,Aerillorin70,16,Male,83,Lifebender,$3.33,15 to 19
25,578,Aerithllora36,29,Female,153,Mercenary Sabre,$3.74,25 to 29
27,324,Aerithnucal56,15,Male,154,Feral Katana,$4.40,15 to 19
28,517,Aerithnuphos61,39,Male,128,"Blazeguard, Reach of Eternity",$4.91,35 to 39
29,40,Aerithriaphos45,20,Male,143,Frenzied Scimitar,$1.56,20 to 24
30,236,Aerithriaphos46,16,Male,107,"Splitter, Foe Of Subtlety",$2.18,15 to 19
31,541,Aesri53,31,Male,161,Devine,$1.76,30 to 34
32,124,Aesty53,21,Male,150,Deathraze,$2.85,20 to 24
34,416,Aestysu37,25,Male,13,Serenity,$1.41,25 to 29
36,468,Aesur96,23,Male,30,Stormcaller,$2.21,20 to 24
37,405,Aesurstilis64,25,Male,70,Hope's End,$1.03,25 to 29

In [24]:
# Calculate the numbers and percentages for each age group
bin_counts = new_df["Age Range"].value_counts()
bin_counts

20 to 24    258
15 to 19    107
25 to 29     77
30 to 34     52
35 to 39     31
11 to 14     22
<10          17
40+          11
Name: Age Range, dtype: int64

In [25]:
age_percent = bin_counts / total_players * 100
age_percent

20 to 24   $44.79
15 to 19   $18.58
25 to 29   $13.37
30 to 34    $9.03
35 to 39    $5.38
11 to 14    $3.82
<10         $2.95
40+         $1.91
Name: Age Range, dtype: float64

In [26]:
# Create a summary data frame to hold the results and display it
gender_ranges_df = pd.DataFrame({"Total Count": (bin_counts),
                                 "Percentage of Players": round((age_percent), 2).astype(float).map("{:,.2f}%".format)
                                })
gender_ranges_df

          Total Count Percentage of Players
20 to 24          258                44.79%
15 to 19          107                18.58%
25 to 29           77                13.37%
30 to 34           52                 9.03%
35 to 39           31                 5.38%
11 to 14           22                 3.82%
<10                17                 2.95%
40+                11                 1.91%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [59]:
purchase_analysis_df = new_df.groupby('Age Range')

In [54]:
price_mean = purchase_analysis_df['Price'].mean()
price_mean

Age Range
<10        $3.50
11 to 14   $3.16
15 to 19   $3.10
20 to 24   $3.04
25 to 29   $2.80
30 to 34   $2.91
35 to 39   $3.57
40+        $3.01
Name: Price, dtype: float64

In [55]:
price_sum = purchase_analysis_df['Price'].sum()
price_sum

Age Range
<10         $59.50
11 to 14    $69.63
15 to 19   $331.58
20 to 24   $785.40
25 to 29   $215.69
30 to 34   $151.49
35 to 39   $110.64
40+         $33.14
Name: Price, dtype: float64

In [56]:
item_count = purchase_analysis_df['Item Name'].count()
item_count

Age Range
<10          17
11 to 14     22
15 to 19    107
20 to 24    258
25 to 29     77
30 to 34     52
35 to 39     31
40+          11
Name: Item Name, dtype: int64

In [60]:
purchase_analysis_df['Age Range', 'Price'].mean()

<ipython-input-60-f0b63648f8e8>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  purchase_analysis_df['Age Range', 'Price'].mean()

           Price
Age Range
<10        $3.50
11 to 14   $3.16
15 to 19   $3.10
20 to 24   $3.04
25 to 29   $2.80
30 to 34   $2.91
35 to 39   $3.57
40+        $3.01

In [61]:
purchase_summary_df = pd.DataFrame({'Purchase Count': (item_count),
                                    'Average Purchase Price': round((price_mean),2).astype(float).map("${:,.2f}".format),
                                    'Total Purchase Value': (price_sum).astype(float).map("${:,.2f}".format)
                                })
purchase_summary_df

           Purchase Count Average Purchase Price Total Purchase Value
Age Range
<10                    17                  $3.50               $59.50
11 to 14               22                  $3.16               $69.63
15 to 19              107                  $3.10              $331.58
20 to 24              258                  $3.04              $785.40
25 to 29               77                  $2.80              $215.69
30 to 34               52                  $2.91              $151.49
35 to 39               31                  $3.57              $110.64
40+                    11                  $3.01               $33.14

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [28]:
grouped_users_df = myfile_df.groupby('SN').agg({'Item Name': ['count'],
                                                'Price':     ['mean', 'sum']
                                            })
grouped_users_df.sort_values([('Price', 'sum')], ascending=False)

            Item Name Price
                count  mean    sum
SN
Lisosia93           5 $3.79 $18.96
Idastidru52         4 $3.86 $15.45
Chamjask73          3 $4.61 $13.83
Iral74              4 $3.41 $13.62
Iskadarya95         3 $4.37 $13.10
...               ...   ...    ...
Ililsasya43         1 $1.02  $1.02
Irilis75            1 $1.02  $1.02
Aidai61             1 $1.01  $1.01
Chanirra79          1 $1.01  $1.01
Alo38               1 $1.00  $1.00

[576 rows x 3 columns]

In [29]:
# rename columns
grouped_users_df.columns = ['Purchase Count', 'Avg Purchase Price', 'Total Purchase Value']

# reset index to get grouped columns back
grouped_users_df = grouped_users_df.reset_index()

print(grouped_users_df)

                SN  Purchase Count  Avg Purchase Price  Total Purchase Value
0     Adairialis76               1               $2.28                 $2.28
1      Adastirin33               1               $4.48                 $4.48
2           Aeda94               1               $4.91                 $4.91
3           Aela59               1               $4.32                 $4.32
4        Aelaria33               1               $1.79                 $1.79
..             ...             ...                 ...                   ...
571     Yathecal82               3               $2.07                 $6.22
572     Yathedeu43               2               $3.01                 $6.02
573  Yoishirrala98               1               $4.58                 $4.58
574     Zhisrisu83               2               $3.94                 $7.89
575      Zontibe81               3               $2.68                 $8.03

[576 rows x 4 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Retrieve ID, Item Name, Item Price columns
another_df = myfile_df[['Item ID', 'Item Name', 'Price']].groupby(['Item ID', 'Item Name'])
another_df.head()

In [ ]:
item_count = another_df['Item Name'].count()
item_count

In [ ]:
popular_price = another_df['Price'].mean()
popular_price

In [ ]:
total_purchase_price = another_df['Price'].sum()
total_purchase_price

In [ ]:
most_popular_df = pd.DataFrame({'Purchase Count': (item_count),
                                'Item Price': (popular_price),
                                'Total Purchase Value': (total_purchase_price)
                               })
most_popular_df.sort_values('Purchase Count', ascending=False)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
most_profitable_df = most_popular_df.sort_values('Purchase Count', ascending=False)
most_profitable_df

In [ ]:
most_popular_df.sort_values('Total Purchase Value', ascending=False)